
th {
    font-weight: normal;
}

.border-left {
    border-left: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #a9acde;
    border-color: #a9acde;
}

.btn-primary:disabled,
.btn-primary.disabled
{
    background-color: grey;
    border-color: grey;
}