.note
{
    text-align: center;
    height: 40px;
    background: #fafafa;
    border: 1px solid #ced4da;
    color: black;
    font-weight: bold;
    line-height: 40px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}