<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="${pageContext.request.contextPath}/style/style.css">
    <link rel="icon" href="${pageContext.request.contextPath}/img/favicon_created_by_logaster.ico">
    <title>PayPool</title>
</head>